/* Hide scrollbar */
.sidebar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.sidebar::-webkit-scrollbar {
  display: none;
}


/* Add these lines in SideBar.css */
.bg-custom-dark-purple {
  background-color: #082067;
  /* A slightly lighter purple shade than bg-dark-purple */
}

.bg-custom-dark-purple-hover {
  background-color: #3A3A70;
  /* A hover effect, slightly lighter for contrast */
}

.bg-dark-purple {
  background-color: #071C3F;
  /* Assuming this is your current sidebar color, adjust if different */
}

.bg-light-white {
  background-color: #4A4A70;
  /* Matching light white with purple tone */
}